<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMC - Peso e Altura</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="container">
        <div id="titulo"> IMC - Calcule seu Índicie de Massa Corporal</div>
            <form action="/calcular" method="post">
                <label class="label1" for="Peso">Qual seu peso (Em Quilograma)?</label>
                <input type="text" name="Peso" id="Peso1">
                <label class="label2" for="Altura">Qual sua altura (Em Centímetros)?</label>
                <input type="text" name="Altura" id="Altura">
                <button type="submit">Calcular seu IMC</button>
            </form>
    </div>
</body>
</html>