<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado IMC</title>
    <link rel="stylesheet" href="result.css">
    <style></style>
</head>

<body>
        <div class="container">
            <h1 id="tituloCalculo">Resultado do cálculo</h1>
            <div id="resultado"></div>
        </div>

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const conta = parseFloat(urlParams.get('result'));
        document.getElementById('resultado').innerText = `O resultado é: ${conta}`;
    </script>
</body>

</html>